{{ define "edit"}}
{{template "head"}}

<div class="card">

    <div class="card-header">Contatos </div>
    <div class="card-body">
        <form method="post" action="/update">


        <input type="hidden" value={{.Id}} class="form-control" name="id" id="id" placeholder="">

        <div class="form-group">
          <label for="">Nome:</label>
          <input type="text"
            class="form-control" name="name" value={{.Name}} id="name" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Escreva o nome desejado</small>
        </div>

        <div class="form-group">
          <label for="">Email:</label>
          <input type="email" class="form-control" name="email" value={{.Email}} id="email" aria-describedby="emailHelpId" placeholder="">
          <small id="emailHelpId" class="form-text text-muted">Escreva o email desejado</small>
        </div>


        <button type="submit" class="btn btn-success">Modificar contato</button>
        <a name="" id="" class="btn btn-primary" href="/" role="button">Cancelar</a>



        </form>
    </div>

</div>





{{template "footer"}}
{{end}}